body{
    background-color: white;
}
.login-container
{
    text-align: center;
    width: 200px;
    background-color: #ffffff;
    display:block;
    position: absolute;
    left:calc(50% - 100px);
    top:150px;
    align-items: center;
}
.login-button,.new-account-button
{
    width: 200px;
    margin: 25px 0;
    height: 45px;
    vertical-align: middle;
    padding: 0 16px;
}
.login-container input
{
    width: 200px;
    height: 25px;
    text-align: center;
    margin-top: 5px;

}
.login-container input:focus
{
    border-color: #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
}
.login-container a
{
    color: black;
    text-decoration: none;
    display: block;
    margin-top: 20px; 
    width: 200px;
    background-color: rgb(176, 176, 176);  
    vertical-align: middle;
    padding: 30px 0;
}