.all-profile
{
    display: block;
    margin: 0px 320px 0px 200px;
    color: rgb(249, 249, 249);
}
.profile-header
{
    background-color: #757BE6;
    opacity: 0.95;
    height: 200px;
    display: block;
    border-radius: 10px;
}
#profile-img-main-div
{
    width: 150px;
    height: 150px;
    border: solid #e5e5e5 2px;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 20px;
    display: inline-block;
}
#profile-img-main
{
    width: 150px;
    height: 150px;
}
#name-and-desc
{
    display: inline-block;
    width: max-content;
    max-width: 450px;
    height: max-content;
    margin-top: 22.5px; 
    margin-left: 10px;
    vertical-align:top;
}
#name
{
    font-size: 30px;
    display:block;
}
#desc
{
    font-size: medium;
    color: rgb(220, 220, 220);
}
.profile-content
{
    margin-top: 30px;
    display: block;
    align-items: center;
    text-align: justify;
}
.profile-content > .profile-obj
{
    background-color: rgb(236, 236, 236);
    display: block;
    width:100%;
    text-align: left;
    border: solid blue 1px;
    margin-bottom: 5px;
}

.edit-tags,.edit-desc
{
    color: #fff;
    background-color: #5968da;
    width:max-content;
    padding: 8px 16px;
    border-radius: 5px;
    text-align: center;
    display: block;
    float: right;
    z-index: 4;
    margin-right: 20px;
    margin-left:-10px;
    margin-top: 150px;
}
.edit-tags:hover,.edit-desc:hover
{
    cursor: pointer;
    background-color: #93a0ff;
}
.edit-tags
{
    margin-top: 132px;
}

#editor-desc
{
    visibility: hidden;
    width: 300px;
    height: 200px;
    z-index: 5;
    display: block;
    position: absolute;
    background-color: rgb(234, 234, 234);
    top: calc(50% - 156.5px);
    left: calc(50% - 206.5px);
    border:solid #4d4d4d 3px;
    border-radius: 25px;
    padding: 10px;
    box-shadow:0 4px 8px 0 #4AE8DD ;
}
#input-desc
{
    margin: auto;
    word-wrap: break-word;
    font-size: medium;
    width: 95%;
    height: calc(100% - 55px);
    border-radius: 15px;
    padding: 5px;
    outline: none;
    resize: none;
}
#cancel-edit-desc
{
    width: max-content;
    height: 20px;
    display: block;
    background-color: #6b73b4;
    border-radius: 5px;
    padding: 8px 16px;
    float: right;
    margin:2px 5px
}
#submit-edit-desc
{
    width: max-content;
    height: 20px;
    display: inline-block;
    background-color: #6b73b4;
    border-radius: 5px;
    padding: 8px 12px;
    margin:2px 5px
}

#submit-edit-desc:hover,#cancel-edit-desc:hover
{
    cursor: pointer;
}