body{
    margin:0;
    padding: 0;
    border:0;
    display: block;
    color:black;
    background-color: #E1FAF8;
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
}

header a
{
    color:white;
}

header{
    position:sticky;
    top:0;
    width: 100%;
    z-index: 2;
    box-shadow:0 4px 8px 0 #4AE8DD ;
}

.header-content-top{
    display: flex;
    justify-content:space-around;
    align-items: center ;
    background-color:#464687 ;
    color:white;
    height: 50px;
}

.logo
{
    font-weight: 700;
    font-size: 27px;
    color:white;
}

.sign-items
{
    display: block;
}

.sign_up{
    color: #fff;
    background-color: #6b73b4;
    width:75px;
    padding: 8px 16px;
    border-radius: 5px;
    text-align: center;
    float:left;
    margin-right: 5px;
}

.sign_in{
    color: #fff;
    background-color: #6b73b4;
    width:75px;
    padding: 8px 16px;
    border-radius: 5px;
    text-align: center;
    float:left;
}

.search-label {
    position: absolute;
    clip: rect(1px,1px,1px,1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    border: none;
}


.nav-ul {
    display: inline-block;
    list-style-type: none;
    color:white;
	padding: 0;
	margin: 0;
    justify-content: center;

}

.nav-ul a
{
	display: block;
    padding: 2px 5px;
}

.nav-ul > li{
    float:left;
    width: 100px;
    height: 30px;
    text-align: center;
    display:grid;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    border-radius: 5px;
}

.nav-ul > li:hover{
    background-color: #5d5dad;
}

.nav-ul > li > ul
{
    list-style-type: none;
    padding: 0;
	margin: 0;
	height: 30px;
	display: none;
    margin-top: 8px;
}

.nav-ul > li:hover > ul
{
	display: block;
}

.nav-ul > li > ul > li
{
	background-color:#5d5dad;
	position: relative;
	z-index: 3;    
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border-top:dashed #3939a3 1px;
}

.nav-ul > li > ul > li:hover
{
	background-color: #6c6cc4;
}

.add-article
{
    color: #fff;
    background-color: #555C92;
    padding: 3px 10px;
    width: max-content;
    border-radius: 5px;
    text-align: center;
    float:left;
}
.add-article:hover{
    background-color: #6b73b4;
}

.profile-icon
{
    width:35px;
    height: 35px;
    display: none;
    background-color: white;
    border: solid 1px #2b2b5d;
}
.profile-icon-img
{
    width: 35px;
    height: 35px;
}

