body{
    
    background-color: #E1FAF8;
}
.form-container-left
{
    text-align: center;
    width: 300px;
    background-color: red;
    display:block;
    position: absolute;
    left:calc(50% - 320px);
    top:150px;
}
.form-container-right
{
    text-align: center;
    width: 300px;
    background-color: red;
    display:block;
    position: absolute;
    left:calc(50% + 20px);
    top:150px;
}